table {
    width: 60%;
}

table, th, td {
    border: 1px solid gray;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightyellow;
}

#formdiv {
    display: flex;
    width: 60%;
    flex-direction: column;
    margin-bottom: 20px;
}

    #formdiv label, button, input {
        
        margin: 10px;
        padding: 7px;
    }

    #formdiv label {
        font-weight: bolder;
    }

#updateformdiv {
    display: none;
    width: 60%;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updateformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updateformdiv label {
        font-weight: bolder;
    }


#updateformdiv2 {
    display: none;
    width: 60%;
    flex-direction: column;
    margin-bottom: 20px;
}
#updateformdiv2 label, button, input {
    margin: 10px;
    padding: 7px;
}

#updateformdiv2 label {
    font-weight: bolder;
}

#updateformdiv3 {
    display: none;
    width: 60%;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updateformdiv3 label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updateformdiv3 label {
        font-weight: bolder;
    }

table button {
    padding: 1px;
}
